@import url('https://fonts.googleapis.com/css?family=Roboto');

$greytabl:#F1F1F1;
$greybord: #D3D3D3;
$black: #131212;
$white: #FFFFFF;


.form-container{
  display:flex;
  flex-direction: column;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  font-size:0.9em;
  font-family: 'Roboto', sans-serif;
  color:$black;
 

  .form-section{
    margin-top: 5vh;
    .form-row-title{
      margin-bottom: -4px;
      font-family: 'Roboto', sans-serif;
    }
  }

  .ant-input{
    border-radius:0px; 
    font-size:1em;     
  }


  ::placeholder {
    color:$black!important;  
  }

  // input 1 basic 
  .form-input{
    input[type="text"], textarea {
      color:$black;
      border-radius:0; 
      height:7vh;
    }   
  }

  // input 2 select
  .form-select{
    width:100%;
    .ant-select-selection{
      color:$black;
      height:7vh;
      border-radius:0; 
      padding-top: 5px;
      font-size:0.9em;
    }
  }

 
  // input 4 "table"
  .form-section-table {
    margin-top: 5vh;
    border: 1px solid $greybord;
    .grey-row {
      background-color: $greytabl;
      height: 9vh;           
    }
    .white-row {
      background-color: $white;
      height: 9vh;
    }
    .table-input {
      margin-top:2%;
    }
    .table-text{
      margin-left: 1.8vh;
      margin-top:3vh;
    }
  }

  .form-section-remarques{
    margin-top: 3vh;
    padding-top: 2vh;
    border-top: 2px solid $greybord;
  }
 
  .form-section-button{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }


}
